@model Drinkr.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="card border-primary" style="max-width: 100%;">
    <div class="card-header">
        <h5 class="card-text">Solicitar Corrida</h5>
    </div>
    <div class="card-body">
        <form class="form" asp-action="AcompanharCorrida">
            <div class="form-group row">
                <label for="origem" class="col-form-label">Origem:</label>
                <div class="col">
                    <input type="text" name="origem" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="destino" class="col-form-label">Destino:</label>
                <div class="col">
                    <input type="text" name="destino" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-warning btn-sm">Solicitar</button>
        </form>
    </div>
</div>
<p></p>
<div></div>

<p>
    <a class="btn btn-dark" asp-action="CreateCarroes" role="button">Registrar Carro</a>
</p>

<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
    <div class="card-header">Carros</div>
    <div class="card-body">

        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Carro.FirstOrDefault().Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carro.FirstOrDefault().Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carro.FirstOrDefault().Placa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carro.FirstOrDefault().Cor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Carro)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Placa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cor)
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="DeleteCarroes" asp-route-id="@item.Id" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div></div>
<p>
    <a class="btn btn-dark" asp-action="CreateEnderecoes" role="button">Registrar Endereço</a>
</p>

<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
    <div class="card-header">Carros</div>
    <div class="card-body">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.FirstOrDefault().Cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.FirstOrDefault().Rua)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.FirstOrDefault().Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.FirstOrDefault().Bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.FirstOrDefault().Cidade)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Endereco)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rua)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="DeleteEnderecoes" asp-route-id="@item.Id" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div></div>
<p>
    <a class="btn btn-dark" asp-action="CreateCartaos" role="button">Registrar Cartao</a>
</p>

<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
    <div class="card-header">Carros</div>
    <div class="card-body">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cartao.FirstOrDefault().Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cartao.FirstOrDefault().Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cartao.FirstOrDefault().Validade)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cartao)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Validade)
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-action="DeleteCartaos" asp-route-id="@item.Id" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*<div class="card border-primary" style="max-width: 100%;">
        <div class="card-header">
            <h5 class="card-text">Solicitar Corrida</h5>
        </div>
        <div class="card-body">
            <form class="form" asp-action="AcompanharCorrida">
                <div class="form-group row">
                    <label for="origem" class="col-form-label">Origem:</label>
                    <div class="col">
                        <input type="text" name="origem" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="destino" class="col-form-label">Destino:</label>
                    <div class="col">
                        <input type="text" name="destino" class="form-control" />
                    </div>
                </div>
                <button type="submit">Solicitar</button>
            </form>
        </div>
    </div>*@
